.main{
    margin-top: 120px;
}

.activity {
    position: relative;
	height: 227px;
    margin: 26px 0;
    border-bottom: 1px solid #d7d7d7;
    cursor: pointer;
}

.activity_left {

    margin-top: 10px;
	width: 250px;
	height: 175px;
	float: left;
    overflow: hidden;
}
.activity_left img{
    width: 100%;

}

.activity_right {
	width: 800px;
	height: 200px;
	float: left;
    padding: 10px 30px;
    
}

.activity_right span {
	font-size: 20px;
	color: #000;
    font-weight: 700;
}

.activity_right p {
    margin: 15px 0 35px;
    color: #999;
	
}
.ckxq{
    color: #666;
    width: 133px;
    display: block;
    line-height: 42px;
    border: 1px solid #ecececde;
    text-align: center;
}
.activity time{
    position: absolute;
    right: 0;
    height: 175px;
    width: 150px;
    text-align: center;
    border-left: 1px solid #f3f3f3;
    top: 50%;
    margin-top: -87.5px;
    color: #999;
}
b{
    font-size: 60px;
    margin: 40px 0 10px;
    padding-bottom: 10px;
    position: relative;
}
time b:after {
    position: absolute;
    width: 30px;
    height: 1px;
    background: #e6e6e6;
    left: 50%;
    margin-left: -15px;
    bottom: 0;
    content: '';
}
 time i {
    margin-top: 20px;
    font-style: normal;
    display: block;
    line-height: 1;
    font-weight: normal;
}
.activity:hover span{
    color: #8e0014;
}
.activity:hover .ckxq{
    color: #8e0014;
    border: 1px solid #8e0014;
}
.activity:hover img{  
    transition:1.5s;
    transform: scale(1.1);
    transition-duration: .3s;
    transition-property: transform;
}