.cal-box {
    margin: 0 30px;
    margin-top: 30px;
}

.cal-head {
    height: 24px;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
}

.cal-tit {
    position: absolute;
    left: 0;
    color: #555;
}

.cal-tit:before {
    content: "\e906";
    font-family: "icomoon";
    display: block;
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-right: 5px;
}

.cal-tit h2 {
    font-size: 16px;
    display: inline-block;
    line-height: 24px;
    float: left;
}

.cal-moon {
    font-family: "yasong";
    font-size: 24px;
    text-align: center;
    line-height: 24px;
}

.cal-prev,
.cal-next {
    width: 60px;
    height: 100px;
    background: #eee;
    cursor: pointer;
    text-align: center;
    line-height: 100px;
}


.cal-prev {
    background: #eee url(../images/exhibition/prev.png) no-repeat center;
    background-size: 20px;
}

.cal-next {
    background: #eee url(../images/exhibition/next.png) no-repeat center;
    background-size: 20px;
}


.cal-date {
    height: 100px;
    display: flex;
}

.cal-day-outer {
    overflow: hidden;
    flex: 1;
}

.cal-day {
    padding: 0 60px;
    height: 100px;
    background: #f5f5f5;
    flex: 1;
}

.cal-day ul {
    width: 3000px;
}

.cal-day li {
    float: left;
    width: 80px;
    display: block;
    height: 100px;
    text-align: center;
    color: #7e6626;
    cursor: pointer;
    position: relative;
}

.cal-day li b {
    display: block;
    font-size: 28px;
    font-weight: normal;
}

.cal-day li span,
.cal-day li em {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    display: block;
}

.cal-day li span {
    padding-top: 13px;
}

.cal-day li.on {
    color: #873a46;
}

.cal-day li.on:before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    left: 20px;
    right: 20px;
    bottom: 0;
    background: #873a46;
}

.cal-day li:hover {
    background: rgba(0, 0, 0, 0.02);
}

.cal-d-c .today {
    font-weight: bold;
    color: #fff !important;
    background-color: rgba(135, 58, 70, 0.6) !important;
}

.calendar {
    height: 120px;
    border-bottom: 1px solid #c3b49d;
    border-top: 1px solid #c3b49d;
    margin-top: 30px;
    color: #7e6626;
}

.moon {
    width: 120px;
    height: 120px;
    background: #eee;
    float: left;
    position: relative;
    z-index: 10;
}

.moon .now {
    width: 120px;
    height: 92px;
    text-align: center;
    font-size: 16px;
    padding-top: 28px;
    cursor: pointer;
}

.moon .now b {
    display: block;
    font-size: 26px;
}

.cal-moon-c {
    position: absolute;
    right: 0;
    top: 0;
}

.cal-monn-cc {
    line-height: 24px;
    cursor: pointer;
}

.cal-monn-cc:after {
    content: "\ea43";
    font-family: "icomoon";
    margin-left: 4px;
}

.moon-select {
    height: 120px;
    background: #eee;
    position: absolute;
    right: 0px;
    top: 24px;
    border: 1px solid #c3b49d;
    display: none;
}

.moon-select ul {
    width: 210px;
}

.moon-select li {
    width: 70px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
}

.moon-select li:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cal-moon-c:hover .moon-select {
    display: block;
}

.day {
    float: left;
    width: 1080px;
    height: 120px;
}

.day .date {
    width: 1015px;
    height: 120px;
    float: left;
}

.day .date ul {
    width: 3000px;
}

.day .date li {
    float: left;
    height: 104px;
    width: 86px;
    text-align: center;
    padding-top: 16px;
}

.day .date li b {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 3px 0;
}

.day .date li.on b {
    display: inline-block;
    background: #7e6626;
    border-radius: 50%;
    color: #fff;
}

.day .date .box {
    display: none;
}

.day .date span,
.day .date b,
.day .date em {
    display: block;
}

.day .date b {
    font-size: 28px;
    font-weight: normal;
}

.day .date em {
    font-style: normal;
}

.prev {
    float: left;
    width: 30px;
    height: 120px;
    background: #fff;
    padding-left: 5px;
}

.prev a,
.next a {
    display: block;
    width: 30px;
    height: 120px;
    background-color: #eee;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px auto;
}

.prev a {
    background-image: url(../img/ico_l.png);
}

.next a {
    background-image: url(../img/ico_r.png);
}

.next {
    float: left;
    width: 30px;
    height: 120px;
    background: #fff;
}

/* 日历 */
.home4 {
    margin-top: 80px;
    position: relative
}

.home4.bgc .container {
    background-color: #111111
}

.home4.bgc .container .room__side--left,
.home4.bgc .container .room__side--right {
    background: #181818
}

.home4.bgc .container .room__side--back {
    background: #181818
}

.home4.bgc .nav {
    color: #fff
}

.home4 .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    background-color: #cecece;
    -webkit-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    pointer-events: none;
}

.home4 .scroller {
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.home4 .room {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    margin: -50vh 0 0 -50vw;
    pointer-events: none;
    opacity: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    visibility: hidden
}

.home4 .room--current {
    pointer-events: none;
    opacity: 1;
    visibility: visible
}

.home4 .room__side {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border: 2px solid #ae953a
}

.home4 .room__side--left,
.home4 .room__side--right {
    width: 4000px;
    height: 100vh;
    background: #e9e9e9;
    -webkit-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    pointer-events: auto
}

.home4 .room__side--back {
    width: 100vw;
    height: 100vh;
    background: #e9e9e9;
    -webkit-transform: translate3d(0, 0, -4000px) rotate3d(1, 0, 0, 0.1deg) rotate3d(1, 0, 0, 0deg);
    transform: translate3d(0, 0, -4000px) rotate3d(1, 0, 0, 0.1deg) rotate3d(1, 0, 0, 0deg);
    -webkit-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    pointer-events: auto
}

.home4 .room__side--back .room__img {
    max-width: 70%;
    max-height: 68%
}

.home4 .room__side--back .room__img.phone {
    display: none
}

.home4 .room__side--right {
    right: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transform: rotate3d(0, 1, 0, -90.03deg);
    transform: rotate3d(0, 1, 0, -90.03deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%
}

.home4 .room__side--right .room__img {
    margin-right: 10%
}

.home4 .room__side--left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
}

.home4 .room__side--left .room__img {
    margin-left: 10%
}

.home4 .room__side--bottom {
    width: 100vw;
    height: 4000px;
    background: #d0d0d0;
    -webkit-transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -4000px, 0);
    transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -4000px, 0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%
}

.home4 .room__side--bottom {
    top: 100%
}

.home4 .room__img {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 14%;
    max-height: 75%;
    -webkit-transform: translate3d(0, 0, 10px);
    transform: translate3d(0, 0, 10px);
    width: 100%;
    overflow: hidden
}

.home4 .room__img a {
    display: block
}

.home4 .room__img img {
    width: 100%
}

.home4 .nav {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    font-size: 52px;
    line-height: 1;
    font-family: "fzqingkjw";
    transition: all 0.4s ease-in-out
}


.home4 .nav .more_wp {
    margin: 0 5%
}

.l-more2 {
    font-size: 24px;
    font-family: "fzqingkjw";
    padding: 0 40px;
    position: relative;
    line-height: 55px;
}

.home4 .nav .more_wp .l-more2 {
    display: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

.home4 .nav .more_wp .l-more2.now {
    display: block
}

.l-more2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 31px;
    height: 15px;
    background: url(./next2.png) no-repeat center;
    background-size: contain;
    transition: all 0.4s ease-in-out;
}

.l-more2::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 31px;
    height: 15px;
    background: url(./next2.png) no-repeat center;
    background-size: contain;
    transition: all 0.4s ease-in-out;
}

.home4 .nav .btn--nav-left {
    padding: 0 30px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

.home4 .nav .btn--nav-left::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 31px;
    height: 15px;
    background: url(./prev1.png) no-repeat center;
    background-size: contain
}

.home4 .nav .btn--nav-left.now {
    color: #821610;
    pointer-events: none
}

.home4 .nav .btn--nav-right {
    padding: 0 30px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

.home4 .nav .btn--nav-right::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 31px;
    height: 15px;
    background: url(./prev1.png) no-repeat center;
    background-size: contain
}

.home4 .nav .btn--nav-right.now {
    color: #821610;
    pointer-events: none
}

.home4 .x-tit1 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}


.home4 .x-tit1 .ico {

    color: #333;
    width: 60px;
    overflow: hidden;
    margin: 0;
}

.x-tit1 .ico img {
    width: 100%;
}




/* 近期展览 */

.display-list {
    margin-top: 20px;
}

.display-list li {
    width: 386px;
    margin: 0 20px 20px 0;
    float: left;
    overflow: hidden;

}

.display-list li:nth-child(3n) {
    margin: 0;
}

.display-list li img {
    width: 100%;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: .3s;
    transition-property: transform;
}

.display-list li img:hover {
    transform: scale(1.1);
}

.display-list .t {
    position: relative;
    padding: 10px;
    background: #f7f7f7;
}

.display-list .t h2 {
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.display-list .t p {
    display: block;
}

.display-list .t span {
    display: block;
    color: #555;
}

.display-list .t .date {
    margin-top: 3px;
}

.display-list .t span {
    display: block;
    color: #555;
}

.display-list .t .date img {
    margin-top: -5px;
    width: 15px;
}

.display-list .t .show {
    background: #df4946;
    font-size: 12px;
}

.display-list .t .show a {
    color: #fff;
}

.display-list .t .show,
.display-list .t .make {
    border-radius: 6px;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}







/* 展览与活动 */
.show {
    padding: 30px 0;
}

.show_top {
    border-bottom: 1.5px solid #7f7f7f;
    height: 40px;
    line-height: 40px;
}

.show_top p {
    float: left;
    font-weight: 700;
    position: relative;
}

.show_top p:after {
    content: " ";
    border-radius: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100px;
    height: 6px;
    background-color: rgb(155, 28, 34);
}

.show_top span {
    float: right;
    font-size: 14px;
}

.show_bt {
    margin-top: 40px;
}

.show_bt li {
    position: relative;
    width: 250px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-left: 50px;
    text-align: center;
    padding: 15px 10px;
    box-shadow: -1px 5px 5px 0px #73767c;
    border-radius: 2px;
}

.show_bt li:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    border-radius: 2px;
    width: 80px;
    height: 6px;
    background-color: rgb(155, 28, 34);
}

.show_bt li:nth-child(1) {
    margin-left: 25px;
}

.show_bt li img {
    width: 100%;
    margin-bottom: 20px;
}

.show_bt li em {
    display: block;
    font-weight: 700;
}

.show_bt li span {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    line-height: 2;
}

/* 虚拟展厅 */
.vr_display {
    margin-bottom: 40px;
}

.vr_left {
    float: left;
    width: 590px;
}

.vr_left a {
    width: 100%;
}

.vr_left a img {
    width: 100%;
}



.vr_right {
    float: right;
    width: 610px;
    background-color: grey;
    height: 590px;
    padding: 40px 20px 20px 20px;
}

.vr_right_top p {
    float: left;

}

.vr_right_top img {
    float: left;
    margin-top: 5px;
}

.vr_right_top p {
    margin-left: 10px;
    font-size: 28px;
    display: inline-block;
    color: #fff;
}

.vr_right_top span {
    float: right;
    color: #fff;
}

.vr_right_dt {
    margin-top: 30px;
}

.vr_right_dt li {
    float: left;
    width: 170px;
    height: 130px;
    background-color: #fff;
    overflow: hidden;
}

.vr_right_dt li:nth-child(1) {
    float: left;
    width: 370px;
    height: 290px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 30px;
}

.vr_right_dt li:nth-child(2) {
    margin-left: 30px;

}

.vr_right_dt li:nth-child(3) {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.vr_right_dt li:nth-child(5) {
    margin: 0 30px;
}

.vr_right_dt li:last-child {
    float: right;
}

.vr_right_dt li img {
    width: 100%;
    overflow: hidden;
}