body {
    background: url(../images/bgc.png) fixed;
}



/* 轮播图 */
#container {
    margin-top: 80px;
    min-width: 1200px;
}

.home .focus {
    position: relative;
    width: 100%;
}

.home .focus .ul {
    overflow: hidden;
    position: relative;
}

.home .focus .li {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.home .focus .li::before {
    padding-top: 46.9%;
    content: "";
    display: block;
}


.home .focus .li+li {
    z-index: -1;
}

.home .focus .li img {
    width: 100%;
    height: auto;
}

.home .focus .li a {
    display: block;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.home .focus .li a.a {
    background-color: #fff;
    opacity: 0;
}

.home .focus .slick-dots {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 50%;
    left: 25%;
    text-align: center;
    z-index: 2;
}

.home .focus .slick-dots li {
    display: inline-block;
    width: 53px;
    height: 33px;
    margin: 0 5px;
    line-height: 3px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: url(../images/logo_dot.png) no-repeat left center;
    padding: 0;
}

.home .focus .slick-dots li.slick-active {
    background-position: right center;
}

.home .focus .slick-dots li.slick-active:hover {
    opacity: 1;
    background: url(../images/logo_dot.png) no-repeat right center;
}




.home .focus .prev {
    position: absolute;
    left: 0;
    top: 25%;
    width: 80px;
    height: 50%;
    z-index: 10;
}

.home .focus .next {
    position: absolute;
    right: 0;
    top: 25%;
    width: 80px;
    height: 50%;
    z-index: 10;
}

.home .focus .prev a {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background: url(../images/ld_prev.png) no-repeat center;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.home .focus .next a {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background: url(../images/ld_next.png) no-repeat center;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.home .focus .prev:hover a,
.home .focus .next:hover a {
    opacity: 1;
}


.home .focus .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1, 1);
}

.home .focus .box0 {
    opacity: 1;
    z-index: 0;
    opacity: 1;
    z-index: 0;
    -webkit-animation: box0 7s linear 0s;
    animation: box0 7s linear 0s
}


.home .focus .slick-current .box2 {
    opacity: 1;
    z-index: 0;
    -webkit-animation: box2 7s linear 0s;
    animation: box2 7s linear 0s
}

.home .focus .box1 {
    -webkit-animation: box1 1000ms cubic-bezier(0.5, 0, 0.2, 1) 0s;
    animation: box1 1000ms cubic-bezier(0.5, 0, 0.2, 1) 0s;
    z-index: 0
}

@-webkit-keyframes box0 {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    100% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05)
    }
}

@keyframes box0 {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    100% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05)
    }
}

@-webkit-keyframes box1 {
    0% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
        opacity: 0
    }
}

@keyframes box1 {
    0% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
        opacity: 0
    }
}

@-webkit-keyframes box2 {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    100% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05)
    }
}

@keyframes box2 {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    100% {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05)
    }
}

/* 新闻活动 */
.news {
    padding: 20px 24px 0;
}

.news h2 {
    font-family: '楷体';
    font-size: 28px;
    font-weight: 400;
    padding: 20px 0;
    text-align: center;
}

/* 左边开始 */
.news-left {
    float: left;
    width: 734px;
    height: 600px;
    padding: 20px;
}

.news-left .item {
    margin-bottom: 40px;
}

.news-left .item .item-t:hover {
    color: #731b1a;
}

.date {
    float: left;
    margin-top: 4px;
    margin-right: 24px;
    padding-right: 21px;
    padding-bottom: 28px;
    text-align: left;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-right: 2px solid #737174;

}

.item-t a:hover {
    color: #8e0014;
}

.date-dm {
    margin-top: -3px;
    font-size: 30px;
    color: #0f0f0f;
    line-height: 1;
}

.date-dm span:last-child {
    font-size: 24px;
    color: #737174;
}

.date-y {
    margin-top: 3px;
    font-size: 14px;
    color: #737174;
}


.item-t {
    font-size: 18px;
    text-align: justify;
    color: #141414;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-p {
    font-size: 16px;
    text-align: justify;
    color: #737174;
}

/* 左边结束 */
/* 右边开始 */
.news-right {
    float: right;
    width: 350px;
    height: 470px;
    background: url(../images/news_bgc.jpg);
    color: #fff;
    padding: 0 20px;
}

.news-right a {
    color: #fff;
}

.title {
    height: 70px;
    line-height: 70px;
    width: 100%;
    padding: 0 20px;
}

.title i {
    float: left;
    font-size: 26px;
}

.title a {
    float: right;
    font-size: 16px;
    color: #fff;
}

.list {
    padding: 15px 0 20px 0;
    border-bottom: 1px solid #fff;
}

.list:nth-child(1) {
    padding-top: 0;
}

.over dt {
    font-size: 16px;
}

.over dd,
dt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.over i {
    font-size: 14px;
    background: #97724e;
    border-radius: 5px;
    padding: 0 6px;
    height: 20px;
    line-height: 20px;
    margin-right: 8px;
}

.t {
    padding-top: 15px;
    padding-bottom: 10px;
}

/* 右边结束 */


/* 视频 */
.screen {
    position: relative;
    width: 100%;
    height: 100vh;
}

.summary-content {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, 0);
}

.summary-content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 大事件 */
.event {
    padding: 50px 0;
    background: url(../images/homeTourBg.png) center 90% no-repeat;
    background-color: #fff;
    background-size: auto;
}

.event h2 {
    font-family: '楷体';
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 40px;
    text-align: center;
}

.event .mCSB_inside>.mCSB_container {
    margin-right: 20px;
}

.event .left {
    width: 550px;
    float: left;
    z-index: 10;
}

.event .right {
    width: 635px;
    height: 730px;
    float: right;
    position: relative;
    z-index: 1;
}

.event .right .img {
    position: absolute;
    right: 0;
    top: 50px;
}

.event .right .img img {
    display: block;
    /*  width: 518px;  height:729px; */
    width: 458px;
    height: 678px;
}

.event .right .list {
    position: relative;
    width: 315px;
    z-index: 10;
    background: url(../images/about5.png) no-repeat 8px center;
    height: 742px;
    top: -6px;
}

.event .right .li {
    width: 310px;
    height: 742px;
    position: relative;
}

.event .right .li .year {
    padding-left: 40px;
    position: absolute;
    line-height: 34px;
    font-family: "impact";
    font-size: 34px;
    color: #b59381;
    background: url(../images/about7.png) no-repeat left center;
}

.event .right .li .year:nth-child(1) {
    left: 0;
    top: 71px;
}

.event .right .li .year:nth-child(2) {
    left: 29px;
    top: 165px;
}

.event .right .li .year:nth-child(3) {
    left: 92px;
    top: 245px;
}

.event .right .li .year:nth-child(4) {
    left: 85px;
    top: 372px;
}

.event .right .li .year:nth-child(5) {
    left: 201px;
    top: 592px;
}


.event .right .li .year.cur {
    background-image: url(../images/about7a.png);
    color: #809aa5;
}

.contListAbout .li .top {
    position: relative;
    margin-bottom: 50px;
}

.contListAbout .li .top .time {
    line-height: 70px;
    font-size: 70px;
    font-family: "impact";
    color: #9c8274;
}

.x-tit {
    font-size: 26px;
    margin-bottom: 30px;
}

.txt {
    white-space: normal;
    text-indent: 2em;
}

.txt span {
    font-size: 18px;
}

.txt p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #707070;
    cursor: pointer;
}

.txt>.red:hover {
    color: #8e0014;
}

/* 可视化 */
/* 地图 */

.w1400 {
    width: 1400px;
    margin: 0 auto;
}

.charts h2 {
    font-family: '楷体';
    font-size: 28px;
    font-weight: 400;
    padding-top: 40px;
    text-align: center;
}

.charts #map {
    float: left;
    width: 700px;
    height: 600px;
}

/* 右侧数据 */

.project_right {
    float: right;
    width: 630px;

    margin-top: 85px;
}

.projects {
    float: left;
    font-size: 24px;
    color: #794f00;
    margin-right: 60px;
    cursor: pointer;
}

.successor {
    float: left;
    font-size: 24px;
    color: #a2a2a2;
    cursor: pointer;
}

.map-xiang {
    width: 100%;
    border-top: 3px solid #a2a2a2;
    margin-top: 5px;
}

.projects-xiang {
    width: 168px;
    border-top: 3px solid #794f00;
    margin-top: -3px;
    margin-right: 60px;
}

.projects-san {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 12px solid #794f00;
    margin: auto;
}

/* 隐藏 */
/* .successor-xiang {
    width: 192px;
    border-top: 3px solid #794f00;
    margin-top: -3px;
    opacity: 0;
}
.projects-san {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 12px solid #794f00;
    margin: auto;
} */
.map-content {
    padding-top: 20px;
}

.map-ul {

    width: 100%;
    margin: 30px 0 45px 0;
}

.map-li {
    float: left;
    width: 108px;
    height: 114px;
    background-color: #97724e;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    cursor: pointer;
}

.quantity {
    font-size: 31px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.m-name {
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
}

.map_foot {
    height: 37px;
    line-height: 37px;
}

.map_foot p {
    font-size: 18px;
    padding: 0 10px;
}

.map_foot p>strong {
    font-size: 30px;
}

.map_foot .map_foot_fl {
    float: left;
}


/* 展示 */
.project_left {
    width: 500px;
    height: 600px;
    background-color: rgb(239, 239, 239);
    float: left;
}


.projects {
    float: left;
    font-size: 24px;
    color: #794f00;
    margin-right: 60px;
    cursor: pointer;
}

.successor {
    float: left;
    font-size: 24px;
    color: #a2a2a2;
    cursor: pointer;
}

.map-xiang {
    width: 100%;
    border-top: 3px solid #a2a2a2;
    margin-top: 5px;
}

.projects-xiang {
    width: 168px;
    border-top: 3px solid #794f00;
    margin-top: -3px;
    margin-right: 60px;
}

.projects-san {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 12px solid #794f00;
    margin: auto;
}

/* 隐藏 */
/* .successor-xiang {
    width: 192px;
    border-top: 3px solid #794f00;
    margin-top: -3px;
    opacity: 0;
}
.projects-san {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 12px solid #794f00;
    margin: auto;
} */
.map-content {
    padding-top: 20px;
}

.map-ul {

    width: 100%;
    margin: 30px 0 45px 0;
}

.map-li {
    float: left;
    width: 114px;
    height: 114px;
    background-color: #97724e;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    cursor: pointer;
}

.quantity {
    font-size: 31px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.m-name {
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
}

.map_foot {
    height: 37px;
    line-height: 37px;
}

.map_foot p {
    font-size: 18px;
    padding: 0 10px;
}

.map_foot p>strong {
    font-size: 30px;
}

.map_foot .map_foot_fl {
    float: left;
}

/* 展示 */
.maincategory {
    margin-bottom: 40px;
}

.maincategory a {
    width: 200px;
    float: left;
}

.maincategory a img {
    width: 100%;
    transition: all 0.5s
}

.maincategory .main_op:hover {
    opacity: 0;
}

.maincategory a:nth-child(1) {
    background-image: url(../images/index/nr1.jpg);
    background-size: 100% 100%;
}

.maincategory a:nth-child(2) {
    background-image: url(../images/index/nr2.jpg);
    background-size: 100% 100%;
}

.maincategory a:nth-child(3) {
    background-image: url(../images/index/nr3.jpg);
    background-size: 100% 100%;
}

.maincategory a:nth-child(4) {
    background-image: url(../images/index/nr4.jpg);
    background-size: 100% 100%;
}

.maincategory a:nth-child(5) {
    background-image: url(../images/index/nr5.jpg);
    background-size: 100% 100%;
}

.maincategory a:nth-child(6) {
    background-image: url(../images/index/nr6.jpg);
    background-size: 100% 100%;
}



/* 文物数据 */
.collection4 {
    background: url(../images/index/bg2.jpg) no-repeat center center/cover;
    position: relative;
    height: 100vh;
    min-height: 40vw;
    overflow: hidden;
    margin-bottom: 40px;
}

.collection4 .bg1 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(1006 / 1920 * 95vw);
    height: calc(1006 / 1920 * 95vw);
    background: url(../images/index/png5_2.png) no-repeat center center/contain;
    margin: calc(1006 / 1920 * -46vw) 0 0 calc(1006 / 1920 * -47vw)
}

.collection4 .bg2 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(1444 / 1920 * 95vw);
    height: calc(1444 / 1920 * 95vw);
    background: url(../images/index/png5_1.png) no-repeat center center/contain;
    margin: calc(1444 / 1920 * -46vw) 0 0 calc(1444 / 1920 * -47vw);
    -webkit-animation: ro 30s linear 0s infinite;
    animation: ro 30s linear 0s infinite;
    animation: rotate360 30s linear infinite;
    transform-origin: center center;
    /* 设置旋转中心为元素的中心 */


}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.collection4 .box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(726 / 1920 * 95vw);
    height: calc(726 / 1920 * 95vw);
    background: url(../images/index/png5_3.png) no-repeat center center/contain;
    margin: calc(726 / 1920 * -46vw) 0 0 calc(726 / 1920 * -47vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff
}

.collection4 .box .b {
    margin-top: 2.5em
}



.collection4 .box a {
    color: #fff;
}

.collection4 .title {
    text-align: center;
    font-family: font;
    font-size: 48px;
    line-height: 1.2;
}

.collection4 .head .text {
    text-align: center;
    margin-top: 0.5em;
}

.more1.w:after {
    content: "";
    background-image: url(../images/index/more1a.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 0;
    height: 41px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    transition: width 0.5s ease-out;
}

.more1:hover:after {
    width: 81px;
}

.more1 {
    font-size: 20px;
    display: inline-block;
}

.more1:hover:after {
    animation: more1 0.5s ease-out 0s 1 both;
}